*.pro
*.user
*.9-pre1
*.stash
build-LAB_8_Szablony-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
build-LAB_9_Rzutowanie-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
build-LAB_7_Iterator-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
build-AplikacjaOkienkowaZajecia-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
